/* Custom CSS */

body {
    color: #000;
    font-family: "Roboto Condensed", serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    color: #000;
}

.page-header {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0%;
}

.col-md-6 {
    padding: 2%;
}

.jumbotron {
    background-color: #fff;
    color: #000;
}

form {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

a:hover {
    color: #8db173;
}

a:link {
    color: #8dba73;
}

a:visited {
    color: #8db073;
}

.gradient {
    
    /* can be treated like a fallback */
    background-color: white;
    
    /* will be "on top", if browser supports it */
    background-image: linear-gradient(#888, white);
    
    /* these will reset other properties, like background-position, but it does know what you mean */
    background: red;
    background: linear-gradient(#888, white);
}