/* Custom CSS */

body {
    color: #000;
    font-family: "Roboto Condensed", serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    color: #000;
}

.navbar, .navbar-default, .navbar-fixed-top, navbar, navbar-default, navbar-fixed-top {
    background-color: #555;
    border-bottom: none;
}

.page-header {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0%;
}

.col-md-6 {
    padding: 2%;
}

.jumbotron {
    background-color: #fff;
    color: #000;
}

form {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

a:hover {
    color: #444;
}

a:link {
    color: #555;
}

a:visited {
    color: #666;
}

.page-header {
    border:none;
}

.btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #8dab73;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn-primary:hover {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #8dab93;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.container, .guide-container, container, guide-container {
    width: 50%;
    padding-left: 25px;
    background-color: #ddd;
    box-shadow: 5px 5px 5px #888;
}

.gradient {
    
    /* can be treated like a fallback */
    background-color: white;
    
    /* will be "on top", if browser supports it */
    background-image: linear-gradient(#888, white);
    
    /* these will reset other properties, like background-position, but it does know what you mean */
    background: red;
    background: linear-gradient(#888, white);
}